.shadow-div{
    border: none;
    border-radius: 6px;
    width: 36%;
    box-shadow: 2px 2px 7px rgb(106, 105, 105);


}
.side-img{
    width: 55px;
    height:45px;
    border-radius: 50%;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}
.question{
    color: grey;
    font-family: Arial;
    font-size: larger;
    display: inline-block;
    vertical-align:middle;
}
.tweet-button{
    border:none;
    border-radius: 50px;
    color:white;
    background-color: rgba(43, 129, 242, 0.947);
    margin-left: 120px;
    height: 40px;
    width: 90px;
    font-size:larger;
}

.all-thing{
    border: 0px solid black;
    width: 230px;
    box-shadow: 1px 1px 5px rgb(105, 103, 103);
    height:410px;
    margin-left: 20px;
    border-radius: 1px;
    display: inline-block;
}
.img{
    width: 230px;
    height:250px;
}
.name{
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
    padding-left: 10px;
}
.friend{
    font-family: Arial;
    color:rgb(99, 95, 95);
    padding-left: 10px;
}
.add-button{
    background-color: rgb(37, 89, 200);
    border: none;
    color:white;
    font-size:15px;
    width: 120px;
    height: 42px;
    border-radius: 4px;
    margin-left: 10px;
}

/* 2nd div*/

.profile1{
    border: 0px solid black;
    width: 230px;
    box-shadow: 1px 1px 5px rgb(105, 103, 103);
    height:410px;
    margin-left: 20px;
    border-radius: 1px;
    display: inline-block;
}
.img1{
    width: 230px;
    height:250px;
}
.name-1{
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
    padding-left: 10px;
}
.friend-1{
    font-family: Arial;
    color:rgb(99, 95, 95);
    padding-left: 10px;
}
.add-button-1{
    background-color: rgb(37, 89, 200);
    border: none;
    color:white;
    font-size:15px;
    width: 120px;
    height: 42px;
    border-radius: 4px;
    margin-left: 10px;
}
/* 3rd div*/
.profile2{
    border: 0px solid black;
    width: 230px;
    box-shadow: 1px 1px 5px rgb(105, 103, 103);
    height:410px;
    margin-left: 20px;
    border-radius: 1px;
    display: inline-block;
}
.img2{
    width: 230px;
    height:250px;
}
.name-2{
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
    padding-left: 10px;
}
.friend-2{
    font-family: Arial;
    color:rgb(99, 95, 95);
    padding-left: 10px;
}
.add-button-2{
    background-color: rgb(37, 89, 200);
    border: none;
    color:white;
    font-size:15px;
    width: 120px;
    height: 42px;
    border-radius: 4px;
    margin-left: 10px;
}

/*4th div*/
.profile3{
    border: 0px solid black;
    width: 230px;
    box-shadow: 1px 1px 5px rgb(105, 103, 103);
    height:410px;
    margin-left: 20px;
    border-radius: 1px;
    display: inline-block;
}
.img3{
    width: 230px;
    height:250px;
}
.name-3{
    font-family: Arial;
    font-size: larger;
    font-weight: bold;
    padding-left: 10px;
}
.friend-3{
    font-family: Arial;
    color:rgb(99, 95, 95);
    padding-left: 10px;
}
.add-button-3{
    background-color: rgb(37, 89, 200);
    border: none;
    color:white;
    font-size:15px;
    width: 120px;
    height: 42px;
    border-radius: 4px;
    margin-left: 10px;
}

/* 9h. */

.nine-H{
    text-align: center;
}
.mid-9h{
    height: 280px;
    width: 310px;
}
.mid-bar{
    height : 40px;
    width : 500px;
    border-radius : 20px;
    border: none;
    font-size: medium;
    padding-left: 15px;
    box-shadow: 1px 1px 4px grey;
    margin-left: 30%;
    margin-top: 20px;
}
.button-div{
    text-align: center;
    margin-top: 50px;
}
.google-button{
    height:45px;
    width: 170px;
    margin-right: 15px;
    border: none;
    font-size: 18px;
}
.luck-button{
    height:45px;
    width: 170px;
    margin-left: 15px;
    border: none;
    font-size: 18px;
}

